@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* fonts */
@font-face {
  font-family: "Vazirmatn";
  src:
    url(../src/assets/fonts/vazirmatn/Vazirmatn[wght].woff2)
      format("woff2 supports variations"),
    url(../src/assets/fonts/vazirmatn/Vazirmatn[wght].woff2)
      format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

.farsi_digits {
  font-feature-settings: "ss01";
}

@theme {
  --font-Vazirmatn: Vazirmatn, system-ui, sans-serif;

  /* background */
  --color-background-light: #f9f9f9;
  --color-background-dark: #060c18;

  /* card */
  --color-card-light: #ffffff;
  --color-card-dark: #091120;

  /* primary */
  --color-primary-light: #007bff;
  --color-primary-dark: #002247;
  /* success */
  --color-success: #11a483;
  --color-background-success: #c3fff1;
  --color-background-success-dark: #233332;
  /* warning */
  --color-warning: #ffaf37;
  --color-background-warning: #ffefd6;
  --color-background-warning-dark: #302f2d;
  /* danger */
  --color-danger: #ff5f37;
  --color-background-danger: #ffe2db;
  --color-background-danger-dark: #3d2327;
}

/* Sidebar */
.menu-item {
  @apply flex items-center gap-2 rounded-lg px-4 py-3 transition-all text-neutral-600 text-sm font-semibold dark:text-white dark:hover:text-white hover:text-primary-light  dark:hover:bg-primary-dark hover:bg-[#F5FAFF];
}

.menu-item-active {
  @apply text-primary-light dark:text-white  bg-[#F5FAFF] dark:bg-primary-dark;
}

.sidebar-theme-btn {
  @apply flex-1 flex items-center justify-center gap-2 rounded-md py-2 text-sm  font-semibold cursor-pointer text-[#525252] dark:text-[#7A7A7A];
}

.sidebar-theme-btn-active {
  @apply bg-card-light dark:bg-primary-dark dark:text-white;
}
/* Sidebar */

/* badge */
.badge {
  @apply py-1 px-2 rounded-sm text-xs font-bold;
}

.badge-success {
  @apply bg-background-success dark:bg-background-success-dark text-success;
}

.badge-danger {
  @apply bg-background-danger dark:bg-background-danger-dark text-danger;
}

.badge-warning {
  @apply bg-background-warning dark:bg-background-warning-dark text-warning;
}
/* badge */

/* tasks */
.task {
  @apply group bg-card-light dark:bg-card-dark py-3 px-4 lg:py-6 lg:px-5 flex items-start w-full border border-neutral-200 dark:border-[#3D3D3D] relative rounded-xl gap-4 mb-5 overflow-hidden cursor-pointer;
}
/* tasks */
